.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
.nav-item, .dropdown{
    font-size: 18px;
}
.navbar-brand, {
    font-size: 25px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}