<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 p-3">
      <h2>Dodaj własne ćwiczenie</h2>
      <form [formGroup]="exerciseForm" (ngSubmit)="onExerciseFormSubmit()">
        <div class="form-group row">
          <label class="col-3 col-form-label">Nazwa ćwiczenia</label>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              placeholder="Nazwa twojego ćwiczenia"
              required
              [formControlName]="formControlNames.EXERCISE_NAME"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Partia mięśniowa</label>
          <div class="col-9">
            <select
              class="form-control"
              placeholder="Zaangażowana pratia mięsniowa"
              required
              [formControlName]="formControlNames.MUSCLE_GROUP">
                <option> Plecy </option>
                <option> Klatka piersiowa </option>
                <option> Brzuch </option>
                <option> Barki </option>
                <option> Biceps </option>
                <option> Triceps </option>
                <option> Nogi </option>
                <option> Łydki </option>
              </select>
          </div>
        </div>
        <button type="submit" [disabled]="!exerciseForm.valid" class="btn btn-primary">Dodaj ćwiczenie</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Twoje ćwiczenia</h2>
      <p *ngFor="let i of userExercises?.exercises">
        <b>Nazwa cwiczenia: </b>{{ i.name }} <b>Partia miesniowa </b>{{ i.muscleGroup }}
        <b>Ilosc spalanych kcal/min </b>{{ i.caloriesPerMinute }}
      </p>
    </div>
  </div>
</div>
