<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 p-3">
      <h2>Dodaj własny produkt</h2>
      <form>
        <div class="form-group row">
          <label for="Nazwa" class="col-3 col-form-label">Nazwa</label>
          <div class="col-9">
            <input
              type="email"
              class="form-control"
              id="inputmailh"
              placeholder="Nazwa własnego produktu"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="Białko" class="col-3 col-form-label">Białko</label>
          <div class="col-9">
            <input
              type="email"
              class="form-control"
              id="inputmailh"
              placeholder="Ilość białka w 100g produktu"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="inputpasswordh"
            class="col-3 col-form-label"
            contenteditable="true"
            >Węglowodany</label
          >
          <div class="col-9">
            <input
              type="password"
              class="form-control"
              id="inputpasswordh"
              placeholder="Ilość węglowodanów w 100g produktu"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="inputpasswordh"
            class="col-3 col-form-label"
            contenteditable="true"
            >Tłuszcze</label
          >
          <div class="col-9">
            <input
              type="password"
              class="form-control"
              id="inputpasswordh"
              placeholder="Ilość tłuszczy w 100g produktu"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="inputpasswordh"
            class="col-3 col-form-label"
            contenteditable="true"
            >Kaloryczność</label
          >
          <div class="col-9">
            <input
              type="password"
              class="form-control"
              id="inputpasswordh"
              placeholder="Ilość kalorii w 100g produktu"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj posiłek</button>
      </form>
    </div>
  </div>
</div>
